<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://temptest-net8-durablefunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fb5dc62b-9af1-4fa2-8b11-a87da79e466f/resourcegroups/temptest-rg-01/providers/Microsoft.Web/sites/temptest-net8-durablefunction</ResourceId>
    <UserName>$temptest-net8-durablefunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://temptest-net8-durablefunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>